*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header-section {
    width: 100%;
    background-color: #fcf9f2;
    letter-spacing: 1px;
    
  }
  
  .main-header-section > .header-container {
    display: flex;
    align-items: center;
    max-width: 85%;
    height: 70px;
    margin: auto;
    justify-content: space-between;
   
  }

  .logo > .h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: black;
    font-size: 2rem;

  }

  .edit{
    color: #e6fc56;
    font-family: cursive;
  }

  .h3{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .links > .links-l{
    padding: 0 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: #cbcbcb;
    letter-spacing: 1.5px;
    cursor: pointer;

    &:hover{
        color: #121212;
    }
  }


  .click-contact-btn{
    padding: 0.7rem 1.5rem;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    background-color: #fcf9f2;
    border: 0.7px solid black;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &:hover{
        background-color: #121212;
        color: white;
    }
  }

  .arrow{
   align-items: center;
   margin: 0 0.4rem;
  }


  @media screen and (max-width: 600px) {

  
  .main-header-section {
      width: 100%;
      background-color: #fcf9f2;
      
    }
    
    .main-header-section > .header-container {
      display: flex;
      align-items: center;
      max-width: 85%;
      height: 70px;
      margin: auto;
      justify-content: space-between;
     
    }
  
    .logo{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }
  
    .links > .links-l{
      padding: 0 1rem;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.9rem;
      text-decoration: none;
      color: #cbcbcb;
      letter-spacing: 1.5px;
      cursor: pointer;
      display: none;
  
      &:hover{
          color: #121212;
      }
    }
  
    .contact{
     
    }
  
    .click-contact-btn{
      padding: 0.7rem 1.5rem;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.5px;
      background-color: #fcf9f2;
      border: 0.7px solid black;
      font-weight: 500;
      cursor: pointer;
  
      &:hover{
          background-color: #121212;
          color: white;
      }
    }
  
    .arrow{
     align-items: center;
     margin: 0 0.4rem;
    }
  
  }